<article class="auth">
    <h3 class="auth__title">
        Pharmacy 4U - <span class="auth__title-colored">Dashboard</span>
    </h3>
    <form action="/auth/login" method="post" class="auth__form">
        <input required type="text" name="username" class="auth__input" />
        <input required type="password" name="password" class="auth__input" />
        <button class="auth__button">Login</button>
    </form>
</article>
