<div class="error">
    <div id="particles" class="error__particles"></div>
    <h1 class="error__title">
        Error 404: <span class="error__description">Page '<%= path %>' not found</span>!
    </h1>
    <a class="error__link" href="/">Go to main page!</a>
</div>
