<footer class="footer">
    <div class="footer__nav">
        <div class="footer__nav_title">Pages</div>
        <ul class="footer__nav_list">
            <li class="footer__nav_item">
                <a href="/" class="footer__nav_link">Home</a>
            </li>
            <li class="footer__nav_item">
                <a href="/blog" class="footer__nav_link">Blog</a>
            </li>
            <li class="footer__nav_item">
                <a href="/store" class="footer__nav_link">Store</a>
            </li>
            <li class="footer__nav_item">
                <a href="/auth" class="footer__nav_link">Dashboard</a>
            </li>
            <li class="footer__nav_item">
                <a href="/contact" class="footer__nav_link">Contact us</a>
            </li>
        </ul>
    </div>
    <div class="footer__content">
        <div class="footer__about">
            <h4 class="footer__title">Pharmacy 4U</h4>
            <p class="footer__description"><%= description %></p>
        </div>
        <div class="footer__copyright">NextByte &copy; 2020</div>
    </div>
</footer>
