<article class="intro">
    <div id="particles" class="intro__particles"></div>
    <div class="intro__content"><%= description %></div>
    <div class="intro__buttons">
        <button class="intro__button">
            <a href="/products" class="intro__link">Products</a>
        </button>
        <button class="intro__button">
            <a href="/contact" class="intro__link">Contact us</a>
        </button>
    </div>
</article>
