<article class="intro">
    <div id="particles" class="intro__particles"></div>
    <div class="intro__content"><%= description %></div>
    <div class="intro__buttons">
        <button class="intro__button">
            <a href="<%= routes.store %>" class="intro__link">Store</a>
        </button>
        <button class="intro__button">
            <a href="<%= routes.blog %>" class="intro__link">Blog</a>
        </button>
    </div>
</article>
