<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a href="/" class="navbar__link">Home</a>
        </li>
        <li class="navbar__item">
            <a href="/blog" class="navbar__link">Blog</a>
        </li>
        <li class="navbar__item">
            <a href="/store" class="navbar__link">Store</a>
        </li>
        <li class="navbar__item">
            <a href="/contact" class="navbar__link">Contact us</a>
        </li>
    </ul>
</nav>
