@import 'mixins/button';
@import 'mixins/input';
@import 'mixins/bg-image';
@import 'mixins/flex';

.auth {
	@include bg-image;
	height: calc(100vh - 70px);
	@include flex(center, center, column);

	&__title {
		font-size: 40px;
		margin-bottom: 10px;

		&-colored {
			color: #00AAFF;
			text-shadow: 0 0 1px #444444;
		}
	}

	&__form {
		@include flex(center, center, column);
	}

	&__input {
		@include input(400px, 40px);
		margin: 10px 0;
	}

	&__button {
		@include button(200px, 40px);
		background-color: #00AAFF;
		margin-top: 10px;
	}

	&__message {
		color: red;
		font-size: 20px;
		text-shadow: 0 0 1px #444444;
		margin: 10px 0;
	}
}
