@import 'mixins/bg-image';
@import 'mixins/flex';

.error {
	height: 100vh;
	@include bg-image;
	@include flex(center, center, column);

	&__title {
		color: #444444;
		text-align: center;
		font-size: 70px;
		text-shadow: 0 0 1px #444444;
		z-index: 1;
	}

	&__description {
		color: #00AAFF;
		text-shadow: 0 0 2px #444444;
		z-index: 1;
	}

	&__link {
		z-index: 1;
		color: white;
		text-shadow: 0 0 2px black;
		font-size: 24px;
		text-decoration: none;
		margin-top: 20px;
	}

	&__particles {
		z-index: 0;
		position: absolute;
		width: 100%;
		height: inherit;
		overflow: hidden;
	}
}
