<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pharmacy 4U | Online pharmacy for you</title>
        <%- include('../components/meta') -%>
    </head>
    <body>
        <div id="app">
            <%- include('../components/error') -%>
        </div>
        <%- include('../components/assets') -%>
    </body>
</html>
